@page "/"
@inject NavigationManager Nav

<h1>Welcome</h1>
<p>
    <button class="btn" @onclick="GotoPlanner">Open Planner</button>
</p>

@code {
    void GotoPlanner() => Nav.NavigateTo("/planner");
}
